/* html::after {
  content: "Error Server 500";
} */

body {
  margin: 0;
  padding: 0;
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

header img {
  width: 15%;
  height: 15%;
  margin-top: 15px;
  margin-bottom: -15px;
}

header span {
  font-weight: 400;
  font-size: 15px;
  display: block;
}

div {
  display: block;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

main, footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .main-lenguajes {
  display: flex;
  height: 330px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main .main-lenguajes .main-logo{
  margin: 0 auto;
  position: relative;
  width: 176px;
}

main .main-lenguajes .main-logo img {
  width: 200px;
  height: 180px;
  margin-top: 65px;
}

main .main-lenguajes .main-logo .language-english {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 0px;
  right: 150px;
}

main .main-lenguajes .main-logo .language-spanish {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 0px;
  left: 150px;
}

main .main-lenguajes .main-logo .language-chinese {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 65px;
  right: 220px;
}

main .main-lenguajes .main-logo .language-german {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 65px;
  left: 220px;
}

main .main-lenguajes .main-logo .language-french {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 130px;
  right: 230px;
}

main .main-lenguajes .main-logo .language-roussian {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 130px;
  left: 230px;
}

main .main-lenguajes .main-logo .language-italian {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 195px;
  right: 220px;
}

main .main-lenguajes .main-logo .language-japanese {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 195px;
  left: 220px;
}

main .main-lenguajes .main-logo .language-portuguese {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 260px;
  right: 150px;
}

main .main-lenguajes .main-logo .language-polish {
  text-align: center;
  display: block;
  width: 125px;
  height: 45px;
  position: absolute;
  top: 260px;
  left: 150px;
}

main .main-lenguajes a {
  color: #36c;
  text-decoration: none;
  font-weight: 700;
}

main .main-lenguajes span {
  color: gray;
  font-size: 12px;
  font-weight: 400;
  display: block;
}

main .main-search {
  display: block;
}

main .main-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main-search-container input {
  width: 400px;
  height: 40px;
  border: 1px solid gray;
  border-radius: 3px;
  border-right: none;
  line-height: 1.5;
}

main .main-search-container select {
  width: 50px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  color: gray;
  margin-left: -51px;
  border: none;
}

main .main-search-container button {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4f/Search-button.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 45px;
  border: none;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

main .main-select {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

main .main-select select {
  background-color: #f8f9fa;
  width: 250px;
  height: 30px;
  color: #36c;
  border: 1px solid #a3a9b1;
  border-radius: 3px;
  text-align-last: center;
}

main .main-wikipedia-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px;
}

main .main-wikipedia-info .wikipedia-about {
  display: grid;
  grid-template-rows: 1fr 2fr;
  font-size: 13px;
}

main .main-wikipedia-info .wikipedia-about .wikimedia-about {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

main .main-wikipedia-info .wikipedia-about .wikimedia-about img, .download-info img {
  width: 45px;
  height: 45px;
  padding-right: 10px;
}

main .main-wikipedia-info .wikipedia-about .wikimedia-about p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

main .main-wikipedia-info .wikipedia-about .download {
  background-color: #f8f9fa;
  padding: 10px;
}

main .main-wikipedia-info .wikipedia-about .download .download-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

main .main-wikipedia-info .wikipedia-about .download .download-info p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

main .main-wikipedia-info .wikipedia-about .download .download-app {
  display: flex;
  justify-content: center;
}

main .main-wikipedia-info .wikipedia-about .download .download-app img {
  width: 120px;
  height: 50px;
  cursor: pointer;
}


main .main-projects {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  padding: 10px;
}

main .main-projects .project-item {
  display: flex;
  align-items: center;
  font-size: 12px;
}

main .main-projects .project-item img {
  width: 40px;
  height: 40px;
}

main .main-projects .project-item a {
  text-decoration: none;
  color: #36c;
  padding-left: 10px;
}

main .main-projects .project-item a span {
  display: block;
}

main .main-projects .project-item span {
  color: gray;
}

footer {
  font-size: 12px;
  text-align: center;
}

footer p {
  display: inline-block;
}

footer a {
  color: #36c;
  text-decoration: none;
  cursor: pointer;
  margin: 5px;
}